main {

    margin: 2rem 10%;
    width: 80%;

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    .alert {
        position: relative;

        font-size: 2rem;
        
        padding: 2rem;
        margin-bottom: 1rem;
        
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    .text-center {
        text-align: center;
    }

    .status {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 95vh;
    }

    input[type='button'] {

        padding: 1rem;
        width: 250px;
        background-color: transparent;
        border: .1rem solid #444;
        font-size: 1.1rem;
        cursor: pointer;
    }
}